.header{
   padding: 4px 8px;
   display: flex;
   justify-content: space-between;
}
.main{
   height: 350px;
   flex: 0, 1, auto;
   /* overflow: auto; */
   margin: 4px 0;
   background-color: rgb(88, 88 , 88);
   padding: 4px;
}
a{
   color: aqua;
   text-decoration: none;
}
.active {
   color: rgb(245, 214, 78);
}